* {
    border: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.google-sans-flex {
    font-family: "Google Sans Flex", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "ROND" 0;
}


.navi {
    z-index: 1000;
    width: 100%;
    margin-top: -1.5pc;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.747);
    backdrop-filter: blur(10px);
}

.navi__content {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.navi__link {
    display: inline-flex;
    align-items: center;
}

.navi__link a{
    color: #3d3d3d;
    text-decoration: none;
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 12px;
    padding: 15px;
}

.navi__link svg{
    height: 20px;
    width: 20px;
    margin-right: 15px;
    margin-left: 15px;
}

.logo__apple {
    width: 50px;
    height: 50px;
}

.iphones {
    width: 100%;
}

.title__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3pc;
}

.title__iphone h1, .title__macbook__neo h1{
    text-align: center;
    font-size: 58px;
    font-family: "Google Sans Flex", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
}

.discover__iphones, .discover__macbook__neo  {
    text-align: center;
}

.discover__iphones h1, 
.discover__macbook__neo h1 {
    font-family: "Google Sans Flex", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
}

.button__content {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    margin-top: 1pc;
    gap: 10px;
    background-color: none;
}

.button__link,
.button__buy a, 
.button__information a,
.button__buy__neo a
.button__buy__ipad a
.button__buy__airpods a{
    margin-top: 1pc;
    border-radius: 50px;
}

.button__link {
    background: transparent;
    appearance: none;
    -webkit-appearance: none;
}

.button__information a {
    padding: 12px 25px ;
    background-color: #0071e3;
    color: white;
}

.button__buy a,
.button__buy__neo a,
.button__buy__ipad a,
.button__buy__airpods a{
    padding: 12px 25px ;
    color: #0071e3;
    border: 1px solid #0071e3;
    border-radius: 50px;
}

.button__link a {
    font-family: "Google Sans Flex", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    text-decoration: none;
}

.macbook {
    margin-top: -4pc;
}

.image__content {
    display: flex;
    justify-content: center;
    width: 100%;
}

.image__content img {
    width: 800px;
    margin-top: 1pc;
}

.title__macbook__neo h1{
    font-weight: 600;
}

.ipadAir {
    width: 100%;
    height: auto;
    margin-top: 1pc;
    display: flex;
    background: linear-gradient(to bottom, #addcee, #f5f5f7);
}

.ipadAir__content {
    width: 100%;
    margin-top: 3pc;
    height: 65vh;
}

.ipadAir__title img, .ipadAir__image img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.ipadAir-m4 {
    text-align: center;
    font-family: "Google Sans Flex", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-top: 1pc;
}

.ipadAir-m4 h2 {
    font-size: 28px;
    font-weight: 350;
}

.ipadAir__image img {
    width: 600px;
    margin-top: 4pc;
    margin-right: 45rem;
}


.fifty__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.fifty__years, .apple__worldwide, .airpods {
    display: grid;
    width: 50%;
    justify-content: center;
    align-items: center;
    height: 36pc;
}


.button__read, .button__learn
.button__airpods {
    margin-top: -7pc;
    text-align: center;
}

.button__read button,
.button__learn button{
    background-color: #0071e3;
    padding: 12px 25px;
    border-radius: 25px;
}

.button__read a,
.button__learn a,
.airpods__link a {
    font-family: "Google Sans Flex", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 350;
    font-size: 15px;
    text-decoration: none;
    color: white;
}

.button__learn button {
    margin-top: 2pc;
    padding: 10px 13px;
}

.airpods__link a {
    padding: 10px 15px;
}

.airpods__buy a {
    padding: 10px 18px;
    font-size: 14px;
}

.worldwide {
    width: 100%;
}

.worldwide img{
    width: 450px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
}

.apple__worldwide {
    width: 50%;
    margin-left: 13px;
    background-color: rgb(0, 0, 0);
}

.apple__worldwide button {
    display: flex;
    justify-content: center;
    margin-top: 0pc;
    margin-bottom: 7pc;
}

.airpods img {
    width: 280px;
}

.content__airpods {
    margin-top: -6pc;
}

.airpods__max {
    font-family: "Google Sans Flex", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    text-decoration: none;
    margin-top: -4pc;
    text-align: center;
}

.airpods__max p {
    font-weight: 400;
}


.watch {
    width: 49%;
    height: auto;
}

.watch__content {
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.watch__info {
    width: 100%;
    text-align: center;
    margin-top: -8pc;

    font-family: "Google Sans Flex", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 11px;

}

.watch__info h1 {
    font-weight: 400;
}

.watch__info img{
    width: 280px;
    margin-top: 11pc;
}

.apple__watch img {
    display: flex;
    width: 850px;
    justify-content: center;
    align-items: center;
    margin-top: 6pc;
}



